body{
    font-family: Montserrat;
        letter-spacing: .2rem;
    margin: 0;
    background-color: #f2f2f2; 
}
main{
    margin: auto;
    max-width: 1240px;

}
.logo{
    width: 10%;
    margin: 0 auto;
}
.logo-img{
width: 100%;

}
.header{
    
    background-image: url('img-header.png');
    background-size: cover;
    padding: 1rem;
    margin: 0;
    border-radius: 0 0 16rem 16rem;
    color: white;
}
.texto{
    text-align: center;
}
.titulo-header{

    text-align: center;
        color:#FCA311;
    font-weight: 900;
}
.titulo1{
    font-weight: 300; 
}
.menu-navegation-top{
    display: flex;
    justify-content: center;
    margin: auto;
}
.menu-navegation-top>li{

    margin: auto 1rem;
}
.link-header>a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
.link-header>a:hover{
    color: white;
    background-color: #ffffff17;
    border-radius: 0.6em;

}
ul{
    list-style-type: none;
}
.icon-arrow{
    width: 1rem;
    height: auto;
}
.button-intro:hover{
    background-color: #e1e1e1;
}
.intro-header{
    margin: 3rem 0;
}
.segunda-tela{
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 2rem;
    
    background-color: #d7d7d7;
}
.terceira-tela{
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 2rem;
    
    background-color: #d7d7d7;
}
.intro-jobs img{
   width: 80%;
    border-radius: 1rem;
    margin: auto;
    
}
.intro-jobs{
    background-color: transparent;
}
.botao-ver-mais{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.b1-itens{
    margin: 1rem;
}
}



